


/* max-width 1000 */



/* max-width 900 */



/* max-width 800 */


/* max-width 650 */


/* max-width 550 */



/* max-width 400 */

/* iPhone5 portrait */
@media only screen and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {

	#topwrap {
		min-height: 385px;
	}

	nav {
		text-align: center;
		margin-top: -35px;
		margin-left: 5px;
		font-size: 18px;
		font-weight: 200;
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
		float: none;
	}

	#things {
		padding: 20px 0 10px 0;
		margin-top: 130px;
	}

	.name {
		margin-top: 56px;
	}

	.arrow {
		padding: 10px;
		width: 25px;
		height: 25px;
		font-size: 30px;
	}

	.nameyo {
		font-size: 40px;
	}

	li {
		margin: 0 10px;
	}

	ul.shiny li.projects {
		display: inline-block;
		width: 100%;
		height: auto;
		position: relative;
		float: none;
		margin: 0;
		padding-bottom: 15px;
	}

	.right {
		
	}

	ul.shinier li.l1b {
		width: 100%;
		height: auto;
		margin: 0;
		padding-bottom: 2.5%;
	}

	ul.shinier li.logo {
		padding: 0 0 15px 0;
		width: 100%;
	}

	.nameproj {
		font-weight: 600;
		font-size: 28px;
		float: left;
		padding-left: 5px;
		margin: 25px 0 10px 0;
		color: #121212;
	}

	li.addy {
		text-align: left;
		color: #888;
		font-size: 12px;
		margin: -3px 15px 20px 0;
	}

	#projects {
		margin: 0 0 0 5px;
	}

	#projects p {
		margin: 0 0 15px 0;
		font-size: 17px;
		clear: both;
	}

	a {
		font-weight: 400;
	}


}

/* iPhone5 landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 
	
	#topwrap {
		min-height: 255px;
	}

	nav {
		text-align: center;
		margin-top: -35px;
		font-size: 20px;
		font-weight: 200;
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
		float: none;
	}

	#things {
		padding: 20px 0 10px 0;
		margin-top: 130px;
	}

	.name {
		margin-top: 57px;
	}

	.arrow {
		padding: 10px;
		width: 25px;
		height: 25px;
		font-size: 30px;
	}

	ul.shiny li.projects {
		margin: 0 2.2% 2.6% 2.2%;
		display: inline-block;
		width: 45%;
		height: auto;
		position: relative;
	}

	.right {
		padding-right: 0;
	}

	ul.shinier li.l1b {
		padding-right: 4%;
		display: inline-block;
		width: 48%;
		height: auto;
		float: left;
		margin: 0;
		padding-bottom: 2.5%;
	}

	.nameproj {
		font-weight: 600;
		font-size: 40px;
		float: left;
		padding-left: 5px;
		margin: 35px 0 10px 0;
		color: #121212;
	}

	#projects p {
		margin: 15px 0 15px 0;
	}

	a {
		font-weight: 400;
	}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	#teengirl-button{display:none;}
	#teengirl-nav{display:none;}
	
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#teengirl-button{display:none;}
	#teengirl-nav{display:none;}
		
/* Styles */
}


@media only screen and (-webkit-min-device-pixel-ratio: 1) {

	body{
		background: url("../images/background-repeat@2x.jpg") repeat;
		background-size:101px auto;		
	}
	
	.retina-safari article.thumb-article{
		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
	}

	.retina-safari article.thumb-article:hover{
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;   
		 transform: none; 
	}
	
	.retina-safari article.thumb-article.mellow:hover{
		-webkit-transform: none;
		-moz-transform: none;
	}
	
	.retina-safari a img.side-project:hover{
		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
	}
	
	.retina-safari .showcase-nav img.arrow {
		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
	}
	
	.retina-safari a img{
		-moz-transition: none;
		-webkit-transition: none;
		transition: none;
	}
	
}
