


/* max-width 1000 */



/* max-width 900 */



/* max-width 800 */


/* max-width 650 */


/* max-width 550 */



/* max-width 400 */

/* iPhone5 portrait */
@media only screen and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {

	#topwrap {
		min-height: 385px;
	}

	nav {
		text-align: center;
		margin-top: -45px;
		padding-left: 6px;
		font-size: 18px;
		font-weight: 200;
		border-bottom: 1px solid #777;
		padding-bottom: 20px;
		float: none;
	}

	#things {
		padding: 20px 0 10px 0;
		margin-top: 130px;
	}

	.name {
		margin-top: 48px;
	}

	.nameyo {
		font-size: 50px;
		margin: 25px 0;	
	}

	.arrow {
		padding: 10px;
		width: 25px;
		height: 25px;
		font-size: 30px;
	}

	.nameyo {
		font-size: 40px;
	}

	li {
		margin: 0 10px;
	}

	ul.shiny li.projects {
		display: inline-block;
		width: 100%;
		height: auto;
		position: relative;
		float: none;
		margin: 0;
		padding-bottom: 15px;
	}

	.right {
		
	}

	ul.shinier li.l1b {
		width: 100%;
		height: auto;
		margin: 0;
		padding-bottom: 2.5%;
	}

	ul.shinier li.logo {
		padding: 0 0 15px 0;
		width: 100%;
	}

	.nameproj {
		font-weight: 600;
		font-size: 28px;
		float: left;
		padding-left: 5px;
		margin: 20px 0 10px 0;
		color: #121212;
	}

	li.addy {
		text-align: left;
		color: #888;
		font-size: 12px;
		margin: -3px 15px 20px 0;
	}

	#projects {
		margin: 0 0 0 5px;
	}

	#projects p {
		margin: 0 0 15px 0;
		font-size: 17px;
		clear: both;
	}

	a {
		font-weight: 400;
	}


}

/* iPhone5 landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 
	
	#topwrap {
		min-height: 255px;
	}

	nav {
		text-align: center;
		margin-top: -45px;
		font-size: 20px;
		font-weight: 200;
		border-bottom: 1px solid #777;
		padding-bottom: 20px;
		float: none;
	}

	#things {
		padding: 20px 0 10px 0;
		margin-top: 130px;
	}

	.name {
		margin-top: 49px;
	}

	li.addy {
		text-align: left;
		color: #888;
		font-size: 12px;
		margin: -3px 15px 20px 0;
	}

	.arrow {
		padding: 10px;
		width: 25px;
		height: 25px;
		font-size: 30px;
	}

	ul.shiny li.projects {
		margin: 0 2.2% 2.6% 2.2%;
		display: inline-block;
		width: 45%;
		height: auto;
		position: relative;
	}

	.right {
		padding-right: 0;
	}

	ul.shinier li.logo {
		margin: 0 2.1% 2.6% 0%;
		display: inline-block;
		width: 45%;
		height: auto;
		float: left;
	}

	ul.shinier li.l1b {
		width: 100%;
		height: auto;
		margin: 0;
		padding-bottom: 2.5%;
	}

	.nameproj {
		font-weight: 600;
		font-size: 40px;
		float: left;
		padding-left: 5px;
		margin: 25px 0 10px 0;
		color: #121212;
	}

	.nameyo {
		font-size: 50px;
		margin: 25px 0;	
	}

	#projects p {
		margin: 15px 0 15px 0;
	}

	a {
		font-weight: 400;
	}

	#footer {
		font-size: 12px;
	}

/* iPads (landscape) ----------- */

	
/* Styles */


/* iPads (portrait) ----------- */

		
/* Styles */
