@import url(http://fonts.googleapis.com/css?family=Bitter);

body, html {
	font-family: "futura-pt", sans-serif;
}

h1, h2, h3 {

}

#topwrap {
	min-height: 155px;
	clear: both;
}

#yo {
	position: fixed;
	width: 100%;
	background-color: #FEE032;
	padding: 14px 0 20px 0;
	z-index: 1;
}

#wrapper {
	margin: 0;
	padding: 0px 0 5px 0;
	background-color: #fff;
	position: relative;
	z-index: 100;
}
	
.fullwidthtext {
	max-width: 740px;
	text-align: left;
	margin: 0 auto;
	padding: 15px 30px;
}

.fullwidthtext p {
	font-family: "Bitter", serif;
	font-weight: 400;
	font-size: 21px;
	color: #333;
	line-height: 1.3;
	margin-top: -2px;
}

.fullwidthtext img {
	float: left;
	padding-right: 40px;
}

#contentwrapper {
	max-width: 960px;
	padding: 54px 15px 19px 15px;
	margin: 0 auto;
	
}

#yellow {
	width: 100%;
	height: 12px;
	background-color: #FEE032;
	margin-bottom: 2px;
}

.name {
	font-weight: 700;
	font-size: 18px;
	float: left;
	padding-left: 5px;
}

.nameyo {
	font-weight: 700;
	font-size: 50px;
	float: left;
	padding-left: 5px;
	margin-top: -11px;
}

.nameproj {
	font-weight: 600;
	font-size: 40px;
	float: left;
	padding-left: 5px;
	margin-top: -5px;
	color: #121212;
}

.title {
	font-weight: 400;
	line-height: 1.3;
	font-size: 17px;
	color: #555;
}

nav {
	text-align: right;
	float: right;
	padding: 10px 10px 0 0;
}

.bbb {
	color: #ccc;
}

.bbb a {
	color: #ccc;
	text-decoration: none;
}

.bbb a:hover {
	color: #FEE032;
}

ul {
	list-style: none;
}

li {
	display: inline;
	margin-left: 20px;
	font-family: "futura-pt", sans-serif;
	font-weight: 700;
	color: #222;
}

li.addy {
	float: left;
	color: #888;
	margin: -10px 15px 30px 0;
	font-family: "Bitter", serif;
	font-weight: 400;
}

img {
	max-width: 100%;
}

a {
	color: #666;
	text-decoration: none;
}

#things {
	width: 100%;
	border-top: solid 1px #777;
	margin-top: 101px;
	padding: 35px 0 30px 0;
	text-align: center;
}

#projects {
	width: 100%;
	margin: 35px 0 0 5px;
	line-height: 1.4;
	padding: 30px 0 50px 0;
	text-align: center;
}

#projects p {
	margin: -5px 0 25px 0;
	font-family: "Bitter", serif;
	font-size: 25px;
	text-align: left;
	color: #666;
}

ul.shiny {
	width: 100%;
	min-height: 475px;
}

.right {
	padding-right: 0 !important;
}

ul.shiny li.projects {
	padding-right: 4%;
	display: inline-block;
	width: 22%;
	height: auto;
	float: left;
	margin: 0;
	padding-bottom: 3.4%;
}

ul.shinier {
	width: 100%;
	padding-top: 15px;
}

.right {
	padding-right: 0 !important;
}

ul.shinier li.badge {
	padding-right: 2.4%;
	display: inline-block;
	width: 18%;
	height: auto;
	float: left;
	margin: 0;
	padding-bottom: 2.5%;
}

#footer {
	border-top: solid 1px #777;
	padding-top: 20px;
	margin-top: 20px;
	clear:both;
	color: #666;
	font-weight: 400;
	font-size: 15px;
}

#pagewrapyo {
	margin: 14px;
	padding: 0 0 18px 0;
	background-color: #FEE032;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#footer2 {
	background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	min-height: 15px;
	width: 100%;
}

.placeholder {
	width: 100%;
	background-color: #ededed;
	min-height: 100px;
	padding: 0;
	margin-bottom: 25px;
}

ul.shinier li.logo {
	padding-right: 2.1%;
	display: inline-block;
	width: 23%;
	height: auto;
	float: left;
	margin: 0;
	padding-bottom: 2.5%;
}

ul.shinier li.logo img{
	border: 1px solid #ccc;
}

ul.shinier li.l1b {
	padding-right: 3.0%;
	display: inline-block;
	width: 48.5%;
	height: auto;
	float: left;
	margin: 0;
	padding-bottom: 2.5%;
}

.star {
	color: #FEE032;
	text-align: middle;
}
