@import url(http://fonts.googleapis.com/css?family=Bitter);

body, html {
	font-family: "futura-pt", sans-serif;
}

h1, h2, h3 {

}

#pagewrap {
	min-height: 500px;
}
#pagewrap2 {
	margin: 0;
	padding: 29px 0 5px 0;
}

#yo {
	width: 100%;
	min-height: 110px;
	background-color: #FEE032;
	padding: 25px 0;
}
	
.fullwidthtext {
	max-width: 740px;
	text-align: left;
	margin: 0 auto;
	padding: 15px 30px;
}

.fullwidthtext p {
	font-family: "Bitter", serif;
	font-weight: 400;
	font-size: 21px;
	color: #333;
	line-height: 1.3;
	margin-top: -2px;
}

.fullwidthtext img {
	float: left;
	padding-right: 40px;
}

#contentwrapper {
	max-width: 960px;
	padding: 19px 0;
	margin: 0 auto;
}

#content {
	width: 100%;
	padding-top: 18px;
}

.name {
	font-weight: 700;
	font-size: 18px;
	float: left;
	padding-left: 5px;
}

.nameyo {
	font-weight: 700;
	font-size: 50px;
	float: left;
	padding-left: 5px;
	margin-top: -11px;
}

.nameproj {
	font-weight: 600;
	font-size: 40px;
	float: left;
	padding-left: 5px;
	margin-top: -5px;
	color: #121212;
}

.title {
	font-weight: 400;
	line-height: 1.3;
	font-size: 17px;
	color: #555;
}

nav {
	text-align: right;
	float: right;
	padding: 10px 10px 0 0;
}

.bbb {
	color: #bbb;
}

.bbb a {
	color: #bbb;
	text-decoration: none;
}

.bbb a:hover {
	color: #FEE032;
}

ul {
	list-style: none;
}

li {
	display: inline;
	margin-left: 20px;
	font-family: "futura-pt", sans-serif;
	font-weight: 700;
	color: #222;
}

img {
	max-width: 100%;
}

a {
	color: #666;
	text-decoration: none;
}

#things {
	width: 100%;
	border-top: solid 1px #777;
	margin-top: 101px;
	padding: 35px 0 50px 0;
	text-align: center;
}

#projects {
	width: 100%;
	margin: 35px 0 0 5px;
	line-height: 1.4;
	padding: 30px 0 50px 0;
	text-align: center;
}

#projects p {
	margin-bottom: 25px;
	font-family: "Bitter", serif;
	font-size: 25px;
	text-align: left;
	color: #666;
}

ul.shiny {
	width: 100%;
	min-height: 475px;
}

.right {
	padding-right: 0 !important;
}

ul.shiny li.projects {
	padding-right: 2.6%;
	display: inline-block;
	width: 23%;
	height: auto;
	float: left;
	margin: 0;
	padding-bottom: 3.4%;
}

ul.badges {
	width: 100%;
	padding-top: 15px;
	min-height: 550px;
}

.right {
	padding-right: 0 !important;
}

ul.badges li.badge {
	padding-right: 2.4%;
	display: inline-block;
	width: 18%;
	height: auto;
	float: left;
	margin: 0;
	padding-bottom: 2.5%;
}

#footer {
	border-top: solid 1px #777;
	padding-top: 20px;
	margin-top: 40px;
	clear:both;
	color: #666;
	font-weight: 400;
	font-size: 15px;
}

#pagewrapyo {
	margin: 15px;
	padding: 28px 0 18px 0;
	background-color: #FEE032;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#footer2 {
	background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	min-height: 15px;
	width: 100%;
}

.placeholder {
	width: 100%;
	background-color: #ededed;
	min-height: 420px;
	margin: 0;
	padding: 0;
}
