body, html {

}

#pagewrap {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	background-color: #000;
}

#stuff {
	text-align: center;
	color: #777;
}

#container {
	background-color: #ccc;
	position: relative;
	z-index: 100;
}