@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

body, html {
  font-family: 'Work Sans', 'Helvetica', sans-serif;
  background: #fddfce;
  color: #000;
  padding: 0 40px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color:inherit;
}

.ghost {
  visibility: hidden;
}

.link {
  font-size: 16px;
  margin-bottom: 32px;
  color: #888;
  display: flex;
  align-items: center;
}

.linkIcon {
  height: 20px;
  width: 20px;
  margin: 0 12px 0 2px;
  transform: scale(.9);
}

.squiggleLink:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .8s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ffffff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20px;
  border-bottom: 0;
  padding-bottom: 14px;
  text-decoration: none;
}

.playLink:hover {
  color: #333;
}

.menuButton {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 3;
  display: none;
}

.closeButton {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 3;
  display: none;
}

h1 {
  color: #ff9f7a;
  font-weight: 500;
}

.headerText {
    color: #f5946f;
}

.noSteal {
  font-size: 14px;
  color: rgba(0,0,0,.4);
}

ul {
  list-style: none;
  margin: 1.4vw 0 0 0;
  padding: 0;
}

li {
  display: inline;
}

li:not(:first-child):before {
    content: " · ";
}

.wrapper {
  max-width: 1080px;
  min-width: 601px;
  margin: 80px auto 0 auto;
  min-height: 85vh;
  background: #fff;
  position: relative;
}

.header {
  position: relative;
}

.svgBgIndex {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.svgBgProj {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.svgBgIndexFill {
  fill: #ffece2;
}

.svgBgProjFill {
  fill: #9DD6F5;
}

.headerContent {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerCopy {
  margin-top: -2.5vw;
  padding: 0 0 0 5vw;
  width: 50%;
}

.headerAnimation {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}

.headerAnimation img {
  width: 100%;
  height: auto;
}

.portfolio {
  padding: 3vw 4vw 116px 4vw;
}

.portfolioGrid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolioItem {
  margin: 0 .8vw 40px .8vw;
  flex: 1 0 40%;
  cursor: pointer;
}

.portfolioItem:last-child {
  width: 50%;
  margin-bottom: 124px;
}

.itemImage {
  max-width: 470px;
  height: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}

.itemImage img {
  height:auto;
  width: 100%;
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
}

.translateY4 {
  transform: translateY(-4px);
}

.translateY8 {
  transform: translateY(-8px);
}

.translateXm4 {
  transform: translateX(-4px);
}

.translateX4 {
  transform: translateX(4px);
}

.itemText {
  text-align: center;
}

.itemTitle {
  color: #222;
  font-size: 1.5vw;
  margin: 8px 0 4px 0;
}

.itemMeta {
  font-size: .9vw;
  color: #999;
}

.bottomBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 108px;
  background: #fdf3e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-sizing:border-box;
}

.bottomInfo {
  margin: 48px auto;
  text-align: center;
}

.toTop {
  width: 100px;
  margin: 0 auto;
  align-self: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.topSVG {
  opacity: .6;
}

.topText {
  color: rgba(0,0,0,.4);
}

.toLeft {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;

}

.leftSVG {
  opacity: .5;
}

.leftText {
  margin-left: 18px;
  font-size: 14px;
  color: rgba(0,0,0,.4);
}

.toRight {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;

}

.rightSVG {
  opacity: .5;
}

.rightText {
  margin-right: 18px;
  font-size: 14px;
  color: rgba(0,0,0,.4);
  text-align: right;
}

.socialIcons {
  display: flex;
  width: 120px;
  justify-content: center;
  margin:0 auto;
}

.socialIcon {
  margin: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}

.socialIcon img {
  width: 24px;
  height: auto;
  align-self: center;
}

.email {
  position: relative;
  margin-top: 10px;
}

.emailPopWrapper {
    position: absolute;
    top: -8px;
    left: 34px;
    display: none;
}

.topLinksEmail {
  top: -3.2vw;
  left: -3vw;
}

.bubble {
    position: relative;
    width: 165px;
    height: 40px;
    padding: 0px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 20px;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topBubble {
    width: 11vw;
    height: 1.4vw;
    padding: .8vw;
    font-size: 1.2vw;
}

/* project page styles */

.projNav {
  font-size: 18px;
  margin-top: -6px;
}

.portfolioProj {
  padding: 3.5vw 4vw 164px 4vw;
}

.headerContentSmall {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallNav {
  margin: 0 auto 0 auto;
}

.projectTitleText {
  font-size: 32px;
}

.projectMetaText {
  font-size: 13px;
  color: #999;
  margin-top: 8px;
}

.squiggleDivide {
  margin-top: 24px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}

.projectDescription {
  width: 95%;
  margin: 32px 0 32px 0;
  font-size: 24px;
  line-height: 140%;
  color: #2f2f2f;
  letter-spacing: -.2px;
}

.projectData {
  max-width: 954px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 0 40%;
}

.projectData img {
  width: 100%;
  height:auto;
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: smooth;
}

.imageFull {
  width: 100%;
  margin-bottom: 20px;
}

.textFull {
  width: 95%;
  margin: -4px auto 40px auto;
  font-size: 20px;
  line-height: 140%;
  color: #2f2f2f;
  letter-spacing: -.2px;
}

.imageHalf {
  width: 49%;
  margin-bottom: 20px;
}

.textHalf {
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 140%;
  color: #2f2f2f;
  letter-spacing: -.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  flex-direction: column;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto 32px auto;
}

.avatar img {
  width: 100%;
  height: auto;
  clip-path: circle(50px at center);
}





@media all and (min-width: 1264px) {
  h1 {
    font-size: 30px;
    white-space: nowrap;
  }

  .itemTitle {
    font-size: 18px;
  }

  .itemMeta {
    font-size: 12px;
  }

  .headerText {
    font-size: 28px;
  }
  .headerContentSmall {
    height: 84px;
  }
}
@media all and (max-width: 1263px) and (min-width: 769px) {

  h1{
      font-size: 2.5vw;
    }
  .headerText {
    font-size: 1.9vw;
  }
  .itemTitle {
    font-size: 1.5vw;
  }

  .itemMeta {
    font-size: .9vw;
  }
  li {
    font-size: 1.4vw;
  }


}

@media all and (max-width: 768px) and (min-width: 415px) {
  body,html {
    padding:0;
    margin: 0;
  }
  .wrapper {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding-bottom: 108px;
  }
  .header {
    overflow:hidden;
  }
  .svgBgIndex svg{
    height: 256px;
  }
  /* .headerAnimation {
    display: none;
  } */
  .headerContent {
    align-items: center;
  }
  .headerCopy {
    width: 50%;
    padding: 0 40px;
  }
  h1{
      font-size: 24px;
      font-weight: 600;
      margin-top: 0;
    }
    .headerText {
          font-size: 20px;
    }
  .headerLinks {
    /* display: none; */
    }

    .portfolio {
      padding: 24px;
    }
    .portfolioProj {
      padding: 32px;
    }
    .portfolioItem {
      flex: 1 0 40%;
      margin: 0 8px 32px 8px;
    }
    .itemTitle {
      font-size: 2.8vw;
    }
    .itemMeta {
      font-size: 2vw;
    }
    .itemImage {
      max-width: none;
    }
    .projNav {
      font-size: 16px;
    }
    .projectDescription {
      font-size: 24px;
    }
    .leftText, .rightText {
      display: none;
    }
    .topBubble {
      width: 19vw;
      height: 3vw;
      padding: .8vw;
      font-size: 2vw;
    }
    .topLinksEmail {
      top: -5.2vw;
      left: -3vw;
    }
  }


  @media all and (max-width: 414px) and (min-width: 50px) {
    body,html {
      padding:0;
      margin: 0;
    }

    .ghost {
      display: none;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      min-width: 100%;
      max-width: 100%;
      margin: 0;
      padding-bottom: 108px;
    }
    .header {

    }
    .menuButton {
      display: block;
    }
    .svgBgIndex svg{
      height: 256px;
    }
    .headerAnimation {
      display: none;
    }
    .headerContent {
      align-items: flex-start;
    }
    .headerCopy {
      width: 85%;
      padding: 24px 40px;
    }
    h1{
        font-size: 30px;
        width: 216px;
        font-weight: 600;
      }
      .headerText {
        font-size: 20px;
      }
    .headerLinks {
      display: none;
      }

      .portfolio {
        padding: 24px;
      }
      .portfolioItem {
        flex: auto;
        margin: 0 0 32px 0;
      }
      .portfolioItem:last-child {
        margin-bottom: 24px;
      }
      .itemTitle {
        font-size: 16px;
      }
      .itemMeta {
        font-size: 11px;
      }
      .headerContentSmall {
        align-items: flex-start;
      }
      .svgBgProj svg{
        height: 100%;
        transform: scaleY(1.4) scale(1.7);
      }
      .portfolioProj {
        padding: 48px 24px 24px 24px;
      }
      .projNav {
        margin-top: 16px;
        font-size: 14px;
        list-style: none;
      }
      .projNav li {
        display: inline;
      }
      .projectTitleText {
        font-size: 24px;
      }
      .projectMetaText {
        font-size: 11px;
      }
      .projectDescription {
        font-size: 17px;
      }
      .textFull, .textHalf {
        font-size: 14px;
      }
      .textHalf {
        width: 95%;
      }
      .imageHalf {
        width: 100%;
      }
      .leftText, .rightText {
        display: none;
      }
      ul {
        list-style: inherit;
      }
      li {
        display: block;
        margin: 24px 0;
      }
      li:not(:first-child):before {
          content: none;
      }
      .menu {
        margin: 36px 0 24px;
      }
      .menuNav {
        font-size: 24px;
      }
      .link {
        font-size: 14px;
      }
      .linkIcon{
        transform: scale(.8);
      }
      li:not(:first-child):before {
          content: "";
      }
      .bloop {
        width: 95%;
        margin: -4px auto 40px auto;
        font-size: 20px;
        line-height: 140%;
        color: #2f2f2f;
        letter-spacing: -.2px;
        font-size: 14px;
        padding: 0 !important;
      }
      .projNav li:not(:first-child):before {
          content: "  ";
      }

    }
