<body class="yellowbg"> 
    <div id="pagewrapyo2">
        <div id="contentwrapper">
                <div class="nameyo"><span class="bbb">Blooooooooog*</span></div>
                <nav>
                    <ul>
                        <li class="bbb"><a href="../index.html">Work</a></li>
                        <li class="bbb"><a href="../Blog">Blog</a></li>
                        <li class="bbb"><a href="../about.html">About</a></li>
                    </ul>
                </nav>
                 <div id="things">
                    <div id="blogleft">
                        <h2><img src="img/email.png" /><a href="mailto:hi@dianatran.com">hi@dianatran.com</a></h2>
                        <h2><img src="img/twitter.png" /><a href="twitter.com/dianavtran">@dianavtran</a></h2>
                        <h2><span class="bbb">*Sporadic updates not guranteed to make sense.</span></h2>
                    </div>  
                    <div id="blogright">
                    