	<div id="hiThere">
		<div class="row">
			<div class="span12">
				<header>
				<img src="img/monogram.png" /><p>Diana is a designer living in San Francisco. She was a 2012 Code for America fellow, spent some time in the Marines, and studied at the University of Texas at Arlington as well as Savannah College of Art + Design. She is currently available for work.</p>
				</header>
			</div>
		</div>		
	</div>
<!-- hidden toggle -->	
	<div class="down"><div class="transparentClick"></div></div>
	<div class="up"><div class="transparentClick"></div></div>