<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 
    <title>Diana Tran</title>
    <meta name="author" content="Diana Tran"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 	  <link rel="stylesheet" href="css/bootstrap.css">
 	  <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/stylesheet"  />
 	  <link rel="stylesheet" href="css/style.css">
 	  
 	     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 	     <script type="text/javascript" src="//use.typekit.net/gyx0zay.js"></script>
 	     <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 	  
 	  	  <script>
 	   			$(document).ready(function() {
 	   				window.scrollTo(0,$('#maincontainer').offset().top -51);
 	   				$('.up').hide();	 			
 	   	 			});
 	   	 			
 	  			$(window).scroll(function() {
 	  			    var y_pos = window.pageYOffset;
 	  			    var y_value = 50;
 	  			    if(y_pos < y_value) {
 	  			        $('.down').hide();
 	  			        $('.up').show();
 	  			    }
 	  			    else {
 	  			    		$('.up').hide();
 	  			    		$('.down').show();
 	  			    		}
 	  			});
 	  			
 	  			$(window).ready(function() {	
 	  				$('.up').click(function() {
 	  					$('html,body').stop(true).animate({scrollTop: $("#maincontainer").offset().top -31}, 800);
 	  				});
 	  				$('.down').click(function() {
 	  					$('html, body').stop(true).animate({scrollTop: 0}, 800);
 	  				});
 	  			});
 	  </script>
</head>